<h1 *ngIf="household">{{ household.name }} Household Details</h1>

<h2>Family Members</h2>
<table class='table'>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let familyMember of household.familyMembers">
            <td>{{ familyMember.id }}</td>
            <td>{{ familyMember.firstName }}</td>
            <td>{{ familyMember.lastName }}</td>
            <td>
                <input class="household-input"
                       type="button"
                       (click)="requestDeleteFamilyMember(familyMember)"
                       value = "Delete" />
            </td>
        </tr>
    </tbody>
</table>

<input class="household-input"
        type="text"
        [(ngModel)]="newFamilyMember.firstName"
        placeholder="New Family Member Name" />
<input class="household-input" 
        type="text"
        [(ngModel)]="newFamilyMember.lastName"
        placeholder="New Family Member Last Name" />
<input class="household-input" 
        type="button"
        (click)="requestCreateFamilyMember()"
        value="Add Family Member" />

    <h2>Good Types</h2>
    <table class='table'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Measure</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let goodtype of household.goodTypes">
                <td>{{ goodtype.name }}</td>
                <td>{{ goodtype.defaultMeasure }}</td>
            </tr>
        </tbody>
    </table>

    <input class="household-input"
           type="text"
           [(ngModel)]="newGoodType.name"
           placeholder="New Good Type Name" />
    <input class="household-input" 
           type="text"
           [(ngModel)]="newGoodType.defaultMeasure"
           placeholder="New Good Type Measure Unit" />
    <input class="household-input" 
           type="button"
           (click)="requestCreateGoodType()"
           value="Add Good Type" />

<!-- Make this a paged interface 
<h2>Pantry</h2>
<table class='table'>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of household.pantry.items">
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}{{ item.measure }}</td>
            <td>{{ familyMember.lastName }}</td>
            <td>
                <input class="household-input"
                        type="button"
                        (click)="updateItemQuantity(item.id, 0)"
                        value = "Delete" />
            </td>
        </tr>
    </tbody>
</table>
-->