<h1>List of Households</h1>

<p *ngIf="!households"><em>Loading...</em></p>

<table class='table' *ngIf="households">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Code</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let household of households">
            <td>{{ household.id }}</td>
            <td>{{ household.name }}</td>
            <td>{{ household.code }}</td>
            <td>
                <input class="household-input"
                       type="button"
                       (click)="requestDeleteHousehold(household.id)"
                       value = "Delete" />
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <input class="household-input"
                       type="text"
                       [(ngModel)]="newHousehold.name"
                       placeholder="New Household Name" />
                <input class="household-input" 
                       type="text"
                       (change)="fixupCodeLength()"
                       (keyup)="fixupCodeLength()"
                       [(ngModel)]="newHousehold.code"
                       placeholder="New Household Code" />
                <input class="household-input" 
                       type="button"
                       (click)="requestCreateHousehold()"
                       value="Add Household" />
            </td>
        </tr>
    </tbody>
</table>
